@charset "utf-8";
.Project-01 {
  position: absolute;
  top: 48%;
  left: 55%;
  -webkit-transform: translate(-48%, -55%);
          transform: translate(-48%, -55%);
  width: 5px;
  height: 5px;
  cursor: pointer;
  z-index: 100;
}
.hover .Project-hail {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  opacity: 0.5;
}
.hover .Project-hail2 {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  border: 80px solid #777E97;
  opacity: 0.4;
}
.hover .Project-name {
  left: 100%;
  opacity: 1;
}
.hover .Project-name:before {
  width: 100%;
}
.hover .Project-name-2 {
  left: -100px;
  opacity: 1;
}
.Project-name-2 {
  position: absolute;
  max-width: 300px;
  min-width: 100px;
  left: -100px;
  top: 150%;
  pointer-events: none;
  transition: 0.5s;
  color: #fff;
  padding: 3px 6px;
  z-index: 2;
  opacity: 0;
}
.Project-name-2:before {
  content: '';
  width: 0;
  height: 100%;
  background-color: #344277;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.3s;
  z-index: -1;
}
.hover .Project-name-2:before {
  width: 100%;
}
.Project-hail {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #344277;
  width: 5px;
  height: 5px;
  border-radius: 40px;
  transition: 0.5s;
  opacity: 0;
}
.Project-hail2 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  border-radius: 0;
  transition: 0.7s;
  border: 5px solid #777E97;
  border-radius: 20px;
  pointer-events: none;
  opacity: 0;
}
.Project-name {
  position: absolute;
  max-width: 300px;
  min-width: 100px;
  left: 0;
  top: 150%;
  pointer-events: none;
  transition: 0.5s;
  color: #fff;
  padding: 3px 6px;
  z-index: 2;
  opacity: 0;
}
.Project-name:before {
  content: '';
  width: 0;
  height: 100%;
  background-color: #344277;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.3s;
  z-index: -1;
}
.Project-02 {
  position: absolute;
  top: 39%;
  left: 67%;
  -webkit-transform: translate(-39%, -67%);
          transform: translate(-39%, -67%);
  width: 5px;
  height: 5px;
  cursor: pointer;
  z-index: 100;
}
.Project-03 {
  position: absolute;
  top: 57%;
  left: 53%;
  -webkit-transform: translate(-57%, -53%);
          transform: translate(-57%, -53%);
  width: 5px;
  height: 5px;
  cursor: pointer;
  z-index: 100;
}
.Project-04 {
  position: absolute;
  top: 46%;
  left: 43%;
  -webkit-transform: translate(-46%, -43%);
          transform: translate(-46%, -43%);
  width: 5px;
  height: 5px;
  cursor: pointer;
  z-index: 100;
}
.Project-05 {
  position: absolute;
  top: 44%;
  left: 53%;
  -webkit-transform: translate(-44%, -53%);
          transform: translate(-44%, -53%);
  width: 5px;
  height: 5px;
  cursor: pointer;
  z-index: 100;
}
.Project-06 {
  position: absolute;
  top: 42%;
  left: 74%;
  -webkit-transform: translate(-42%, -74%);
          transform: translate(-42%, -74%);
  width: 5px;
  height: 5px;
  cursor: pointer;
  z-index: 100;
}
.Project-07 {
  position: absolute;
  top: 44%;
  left: 53%;
  -webkit-transform: translate(-44%, -53%);
          transform: translate(-44%, -53%);
  width: 5px;
  height: 5px;
  cursor: pointer;
  z-index: 100;
}
.Project-08 {
  position: absolute;
  top: 44%;
  left: 53%;
  -webkit-transform: translate(-44%, -53%);
          transform: translate(-44%, -53%);
  width: 5px;
  height: 5px;
  cursor: pointer;
  z-index: 100;
}
.Project-09 {
  position: absolute;
  top: 44%;
  left: 53%;
  -webkit-transform: translate(-44%, -53%);
          transform: translate(-44%, -53%);
  width: 5px;
  height: 5px;
  cursor: pointer;
  z-index: 100;
}
.Project-10 {
  position: absolute;
  top: 38%;
  left: 46%;
  -webkit-transform: translate(-38%, -46%);
          transform: translate(-38%, -46%);
  width: 5px;
  height: 5px;
  cursor: pointer;
  z-index: 100;
}
.Project-11 {
  position: absolute;
  top: 70%;
  left: 56%;
  -webkit-transform: translate(-70%, -56%);
          transform: translate(-70%, -56%);
  width: 5px;
  height: 5px;
  cursor: pointer;
  z-index: 100;
}
.Project-12 {
  position: absolute;
  top: 61%;
  left: 59%;
  -webkit-transform: translate(-61%, -59%);
          transform: translate(-61%, -59%);
  width: 5px;
  height: 5px;
  cursor: pointer;
  z-index: 100;
}
.Project-13 {
  position: absolute;
  top: 41%;
  left: 52%;
  -webkit-transform: translate(-41%, -52%);
          transform: translate(-41%, -52%);
  width: 5px;
  height: 5px;
  cursor: pointer;
  z-index: 100;
}
.Project-14 {
  position: absolute;
  top: 44%;
  left: 53%;
  -webkit-transform: translate(-44%, -53%);
          transform: translate(-44%, -53%);
  width: 5px;
  height: 5px;
  cursor: pointer;
  z-index: 100;
}
.Project-15 {
  position: absolute;
  top: 63%;
  left: 56%;
  -webkit-transform: translate(-63%, -56%);
          transform: translate(-63%, -56%);
  width: 5px;
  height: 5px;
  cursor: pointer;
  z-index: 100;
}
.Project-16 {
  position: absolute;
  top: 44%;
  left: 53%;
  -webkit-transform: translate(-44%, -53%);
          transform: translate(-44%, -53%);
  width: 5px;
  height: 5px;
  cursor: pointer;
  z-index: 100;
}
.Project-17 {
  position: absolute;
  top: 44%;
  left: 73%;
  -webkit-transform: translate(-44%, -73%);
          transform: translate(-44%, -73%);
  width: 5px;
  height: 5px;
  cursor: pointer;
  z-index: 100;
}
.Project-18 {
  position: absolute;
  top: 41%;
  left: 51%;
  -webkit-transform: translate(-41%, -51%);
          transform: translate(-41%, -51%);
  width: 5px;
  height: 5px;
  cursor: pointer;
  z-index: 100;
}
.Project-19 {
  position: absolute;
  top: 41%;
  left: 51%;
  -webkit-transform: translate(-41%, -51%);
          transform: translate(-41%, -51%);
  width: 5px;
  height: 5px;
  cursor: pointer;
  z-index: 100;
}
.Project-20 {
  position: absolute;
  top: 34%;
  left: 70%;
  -webkit-transform: translate(-34%, -70%);
          transform: translate(-34%, -70%);
  width: 5px;
  height: 5px;
  cursor: pointer;
  z-index: 100;
}
.Project-21 {
  position: absolute;
  top: 44%;
  left: 53%;
  -webkit-transform: translate(-44%, -53%);
          transform: translate(-44%, -53%);
  width: 5px;
  height: 5px;
  cursor: pointer;
  z-index: 100;
}
.Project-22 {
  position: absolute;
  top: 39%;
  left: 53%;
  -webkit-transform: translate(-39%, -53%);
          transform: translate(-39%, -53%);
  width: 5px;
  height: 5px;
  cursor: pointer;
  z-index: 100;
}
.Project-23 {
  position: absolute;
  top: 40%;
  left: 46%;
  -webkit-transform: translate(-40%, -46%);
          transform: translate(-40%, -46%);
  width: 5px;
  height: 5px;
  cursor: pointer;
  z-index: 100;
}
.Project-24 {
  position: absolute;
  top: 35%;
  left: 54%;
  -webkit-transform: translate(-35%, -54%);
          transform: translate(-35%, -54%);
  width: 5px;
  height: 5px;
  cursor: pointer;
  z-index: 100;
}
.Project-25 {
  position: absolute;
  top: 70%;
  left: 72%;
  -webkit-transform: translate(-70%, -72%);
          transform: translate(-70%, -72%);
  width: 5px;
  height: 5px;
  cursor: pointer;
  z-index: 100;
}
.Project-26 {
  position: absolute;
  top: 46%;
  left: 53%;
  -webkit-transform: translate(-46%, -53%);
          transform: translate(-46%, -53%);
  width: 5px;
  height: 5px;
  cursor: pointer;
  z-index: 100;
}
.Project-27 {
  position: absolute;
  top: 41%;
  left: 51%;
  -webkit-transform: translate(-41%, -51%);
          transform: translate(-41%, -51%);
  width: 5px;
  height: 5px;
  cursor: pointer;
  z-index: 100;
}
.Project-28 {
  position: absolute;
  top: 44%;
  left: 53%;
  -webkit-transform: translate(-44%, -53%);
          transform: translate(-44%, -53%);
  width: 5px;
  height: 5px;
  cursor: pointer;
  z-index: 100;
}
.Project-29 {
  position: absolute;
  top: 40%;
  left: 52%;
  -webkit-transform: translate(-40%, -52%);
          transform: translate(-40%, -52%);
  width: 5px;
  height: 5px;
  cursor: pointer;
  z-index: 100;
}
.Project-30 {
  position: absolute;
  top: 70%;
  left: 57%;
  -webkit-transform: translate(-70%, -57%);
          transform: translate(-70%, -57%);
  width: 5px;
  height: 5px;
  cursor: pointer;
  z-index: 100;
}
.Project-31 {
  position: absolute;
  top: 40%;
  left: 46%;
  -webkit-transform: translate(-40%, -46%);
          transform: translate(-40%, -46%);
  width: 5px;
  height: 5px;
  cursor: pointer;
  z-index: 100;
}
.Project-32 {
  position: absolute;
  top: 40%;
  left: 46%;
  -webkit-transform: translate(-40%, -46%);
          transform: translate(-40%, -46%);
  width: 5px;
  height: 5px;
  cursor: pointer;
  z-index: 100;
}
.Project-33 {
  position: absolute;
  top: 50%;
  left: 52%;
  -webkit-transform: translate(-50%, -52%);
          transform: translate(-50%, -52%);
  width: 5px;
  height: 5px;
  cursor: pointer;
  z-index: 100;
}
.Project-34 {
  position: absolute;
  top: 33%;
  left: 68%;
  -webkit-transform: translate(-33%, -68%);
          transform: translate(-33%, -68%);
  width: 5px;
  height: 5px;
  cursor: pointer;
  z-index: 100;
}
.Project-35 {
  position: absolute;
  top: 39%;
  left: 67%;
  -webkit-transform: translate(-39%, -67%);
          transform: translate(-39%, -67%);
  width: 5px;
  height: 5px;
  cursor: pointer;
  z-index: 100;
}
.Project-36 {
  position: absolute;
  top: 38%;
  left: 47%;
  -webkit-transform: translate(-38%, -47%);
          transform: translate(-38%, -47%);
  width: 5px;
  height: 5px;
  cursor: pointer;
  z-index: 100;
}
.Project-37 {
  position: absolute;
  top: 75%;
  left: 96%;
  -webkit-transform: translate(-75%, -96%);
          transform: translate(-75%, -96%);
  width: 5px;
  height: 5px;
  cursor: pointer;
  z-index: 100;
}
.Project-38 {
  position: absolute;
  top: 49%;
  left: 91%;
  -webkit-transform: translate(-49%, -91%);
          transform: translate(-49%, -91%);
  width: 5px;
  height: 5px;
  cursor: pointer;
  z-index: 100;
}
.Project-39 {
  position: absolute;
  top: 38%;
  left: 47%;
  -webkit-transform: translate(-38%, -47%);
          transform: translate(-38%, -47%);
  width: 5px;
  height: 5px;
  cursor: pointer;
  z-index: 100;
}

@media screen and ( max-width: 767px )  {
	.Project-01,.Project-02,.Project-03,.Project-04,.Project-05,.Project-06,.Project-07,.Project-08,.Project-09,.Project-10,.Project-11,.Project-12,.Project-13,.Project-14,.Project-15,.Project-16,.Project-17,.Project-18,.Project-19,.Project-20,.Project-21,.Project-22,.Project-23,.Project-24,.Project-25,.Project-26,.Project-27,.Project-28,.Project-29,.Project-30,.Project-31,.Project-32,.Project-33,.Project-34,.Project-35,.Project-36,.Project-37,.Project-38,.Project-39 {
		display: none;
}
}