/**************************************************************/
/**************************************************************/
/**************************************************************/
/************************* STYLES *****************************/
/************************* STYLES *****************************/
/**************************************************************/
/**************************************************************/
/**************************************************************/

@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');

body, html {margin:0;padding:0;font-family: 'Lato', sans-serif !important;}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {font-family: 'Lato', sans-serif !important;}

.padding-0 {padding:0 !important;}
.margin-0 {margin:0 !important;}

.img-responsive {max-width:100%;width:100%;height:auto;}

.fixed-nav {position:fixed;left:0;right:0;top:0;width:100%;padding:0;z-index:9999999999;height:auto;}

/*.back-top {background:url("../images/full_img_top.gif");background-size:cover;background-position:center;height:100vh;}*/
.back-top {background:url("../images/full_img_topE.gif");background-size:cover;background-position:center;height:100vh;}


.hamburger .line{
  width: 30px;
  height: 3px;
  background-color: #ecf0f1;
  display: block;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hamburger:hover{
  cursor: pointer;
}

/* ONE */

#hamburger-1.is-active .line:nth-child(2){
  opacity: 0;
}

#hamburger-1.is-active .line:nth-child(1){
  -webkit-transform: translateY(4px) rotate(45deg);
  -ms-transform: translateY(4px) rotate(45deg);
  -o-transform: translateY(4px) rotate(45deg);
  transform: translateY(4px) rotate(45deg);
}

#hamburger-1.is-active .line:nth-child(3){
  -webkit-transform: translateY(-13px) rotate(-45deg);
  -ms-transform: translateY(-13px) rotate(-45deg);
  -o-transform: translateY(-13px) rotate(-45deg);
  transform: translateY(-13px) rotate(-45deg);
}

.back-top-au {background:url("../images/full_img_about_us.jpg");background-size:cover;background-position:center;height:450px;}
.back-top-au .h100vh {height:50vh}
.back-top-au h2 {font-size:2.4rem;}
.back-top-au p {margin-top:25px !important;margin-bottom:auto !important;}
.back-top-au h3 {margin-top:9.4rem !important;}

.back-top-company {background:url("../images/full_img_company.jpg");background-size:cover;background-position:center;height:450px;}
.back-top-company .h100vh {height:50vh}
.back-top-company h2 {font-size:2.4rem;}
.back-top-company p {margin-top:25px !important;margin-bottom:auto !important;}
.back-top-company h3 {margin-top:9.4rem !important;}

.back-top-our {background:url("../images/full_img_our.jpg");background-size:cover;background-position:center;height:450px;}
.back-top-our .h100vh {height:50vh}
.back-top-our h2 {font-size:2.8rem;}
.back-top-our p {margin-top:25px !important;margin-bottom:auto !important;}

.back-top-contact {background:url("../images/full_img_contact.jpg");background-size:cover;background-position:center;height:450px;}
.back-top-contact .h100vh {height:50vh}
.back-top-contact h2 {font-size:2.8rem;}
.back-top-contact p {margin-top:25px !important;margin-bottom:auto !important;}

.back-top-telephony {background:url("../images/full_img_telephony.jpg");background-size:cover;background-position:center;height:450px;}
.back-top-telephony .h100vh {height:50vh}
.back-top-telephony h2 {font-size:2.8rem;}
.back-top-telephony p {margin-top:25px !important;margin-bottom:auto !important;line-height:23px !important;font-size:1rem !important;}

.bg-faded {background:transparent;transition:.6s;padding: 0 ;}
.bg-faded-add {background:rgba(19, 19, 19, 0.94) !important;transition:.6s;}
.nav-item.nav-link.active {
    color: rgba(183, 183, 183, 0.9);
    transition:.6s;
}

.back-providers {background: rgba(0, 0, 0, 0.25098039215686274);padding: 25px 15px;display: inline-block;width: 100%;min-height: 280px;}

.dropdown-item {color:#fff;padding:3px 28px;transition:.6s;font-size: 13px;}
.dropdown-item:focus, .dropdown-item:hover {transition:.6s;}

.bg-faded-add .navbar-nav, .bg-faded-add .dropdown-menu {background:rgba(19, 19, 19, 0.94) !important}

.navbar-nav {background: rgba(0, 0, 0, 0.25098039215686274) !important;flex-direction: row;justify-content: center;padding: 10px 0;margin: 0;}
.navbar-nav .nav-link {margin: 0 30px;color: #fff;}
.dropdown-menu {background: rgba(0, 0, 0, 0.25098039215686274) !important;color: #fff;border: none;}


.navbar-light .navbar-nav .nav-link {
    color: rgb(255, 255, 255);
    transition:.6s;
    font-size: 0.71rem;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 0 20px;
}

.navbar-nav .nav-link:hover {
    color: rgba(255, 255, 255,1);
    transition:.6s;
}

.logo {max-width: 115px;height: auto;width: 100px;}

video { 
    position:fixed;
    /*top: 50%;
    left: 50%;*/
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
   /* -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);*/
    /*background: url('images/14501347.mp4') no-repeat;
    background-size:  cover;*/
	
    /*-webkit-transition: 1s opacity;*/
	
    /*transition: 1s opacity;*/
    background-position:center;
}

.demo-btn {transition:.6s;display: inline-block;color: #fff;border: 1px solid #7dafe8;margin-top: 15px;font-size: 13px;padding: 10px 15px;}
.demo-btn:hover {text-decoration:none;transition:.6s;background:#7dafe8;color:#000;border: 1px solid #7dafe8;color:#fff;}
.h100vh {height:100vh;}

.margin-bottom-0 {margin-bottom:0 !important;}
.margin-bottom-auto {margin-bottom:auto !important;}

.margin-top-0 {margin-top:0 !important;}
.margin-top-auto {margin-top:auto;}

.relative {position:relative;}

.info-absolute {display: flex;justify-content: center;align-items: center;}
.info-absolute h3 {color: #fff;font-size: 2.4rem;text-transform: uppercase;font-weight: bold;letter-spacing: 5px;margin-top: 11.4rem;}
.info-absolute .flex-cont {display: flex;justify-content: flex-start;align-items: center;text-align: left;}

.info-absolute hr {width: 55px;margin-right: 10px;margin-left: 0;border-width: 3px;border-top: 3px solid rgb(255, 255, 255);}
.info-absolute h2 {text-transform: uppercase;color: #7dafe8;font-weight: 800;letter-spacing: 5px;margin: 0 5px;}

.info-absolute p {color: #fff;margin-top: 35px;margin-bottom: 90px;text-transform: uppercase;font-size: 1.1rem;font-weight: bold;letter-spacing: 4px;line-height: 28px;}


.iconsHome {background:#151515;clear:both;padding:0;padding: 55px 0;}
.iconsHome a {transition:.6s;}
.iconsHome a:hover{ text-decoration:none;transition:.6s;opacity:.6; }
.iconsHome .max-w-icon {width: 100%;max-width: 55px;}
.iconsHome .max-w-icon-2 {width: 100%;max-width: 80px;}
.iconsHome h3 {color: #fff;font-size: 1rem;text-transform: uppercase;font-weight: 600;letter-spacing: 4px;margin-top: 15px !important;}
.iconsHome p {color: #fff;font-size: 1rem;font-weight: 200;margin: 5px 0 0;line-height: 22px;}


.images-partners img {max-width:80%;}

/* Slider Style
--------------------------------------*/
.cd-slider {
    position: relative;
    width: 100%;
    height: 9rem;
    max-height: 10rem;
    margin-bottom: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cd-slider2 {
    position: relative;
    max-height: 12rem;
	width: 90%;
	height:90%;
    margin-bottom: auto;
    /*display: flex;*/
    justify-content: center;
    align-items: center;
	margin-top: 20px;
	/*text-align: center;*/
	vertical-align: middle;
	/*left: 4%;*/
}


.cd-slider li {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	visibility: hidden;
	-webkit-transition: visibility 0s 1s;
	transition: visibility 0s 1s;
  will-change: visibility;
}

.cd-slider2 li {
	position: absolute;
	width: 99%;
	height: 99%;
	vertical-align: middle;
	/*max-height:270px;*/
	max-height:90%;
	visibility: hidden;
	-webkit-transition: visibility 0s 1s;
	transition: visibility 0s 1s;
	/*margin-left:10%;*/
	/*margin-top:5px;*/
	margin-top:3%;
	align-items: center;
	will-change: visibility;
}

.cd-sliderli2 {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	visibility: hidden;
	-webkit-transition: visibility 0s 0s;
	transition: visibility 0s 0s;
  will-change: visibility;
}
.image {
	position: absolute;
	top: 0;
	left: 0;
	width: 80%;
	height: 100%;
	background-size: cover;
	background-position: 50% 50%;
	clip: rect(0, 80rem, 50rem, 80rem);
	-webkit-transition: clip 0s cubic-bezier(0.99, 0.01, 0.45, 0.9) 0s;
	transition: clip 0s cubic-bezier(0.99, 0.01, 0.45, 0.9) 0s;
  will-change: clip;
}
.content {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	padding: 0;
	text-align: left;
}

.content2 {
	position: absolute;
	padding: 0;
	width: 100%;
	padding-top:10px;
	text-align: left;
	font-weight:400;
	opacity:100;
	color:white;
	font-size:14px;
	margin-top: 16rem;
	text-align:center;
	/*margin-left:15%;*/
}

.content h2 {
	text-overflow: ellipsis;
	overflow: hidden;
	-webkit-transform: translateY(-30%);
	        transform: translateY(-30%);
	opacity: 0;
	-webkit-transition: opacity .5s, -webkit-transform .5s;
	transition: opacity .5s, -webkit-transform .5s;
	transition: transform .5s, opacity .5s;
	transition: transform .5s, opacity .5s, -webkit-transform .5s;
  will-change: transform, opacity;
}
.content a {
	display: inline-block;
	opacity: 0;
	-webkit-transform: translateY(-100%);
	        transform: translateY(-100%);
	-webkit-transition: opacity .5s .1s, -webkit-transform .5s .1s;
	transition: opacity .5s .1s, -webkit-transform .5s .1s;
	transition: transform .5s .1s, opacity .5s .1s;
	transition: transform .5s .1s, opacity .5s .1s, -webkit-transform .5s .1s;
  will-change: transform, opacity;
}
/* Current Slide 
-------------------------------------*/
li.current {
	visibility: visible;
	-webkit-transition-delay: 0s;
	        transition-delay: 0s;
}

li.current2{
	visibility: visible;
	-webkit-transition-delay: 0s;
	        transition-delay: 0s;
}
li.current .image {
	clip: rect(0, 80rem, 50rem, 0);
}

li.current2 .image {
	clip: rect(0, 80rem, 50rem, 0);
}


li.current .content h2 {
	-webkit-transform: translateY(0);
	        transform: translateY(0);
	opacity: 1;
	-webkit-transition-delay: 1s;
	        transition-delay: 1s;
}
li.current .content a {
	-webkit-transform: translateY(0);
	        transform: translateY(0);
	opacity: 1;
	-webkit-transition-delay: 1.1s;
	        transition-delay: 1.1s;
}
li.current .content ba {
	-webkit-transform: translateY(0);
	        transform: translateY(0);
	opacity: 1;
	-webkit-transition-delay: 0s;
	        transition-delay: 0s;
}
/* Prev Slide 
------------------------------------*/
li.prev_slide .image {
	clip: rect(0, 0, 50rem, 0);
	-webkit-transition-delay: 0s;
	        transition-delay: 0s;
}
nav {
    position: absolute;
    bottom: 0;
    right: 0;
    background: transparent;
    width: 100%;
    text-align: right;
    z-index:2;
}
.prev, .next, .counter {
	vertical-align: middle;
}
.prev, .next {
	position: relative;
	display: none;
	height: 5rem;
	width: 5rem;
  border: 0;
  cursor: pointer;
  background: transparent;
}
.prev::before, .next::before {
	content: '';
	position: absolute;
	top: 50%;
  left: 0;
	-webkit-transform: translateY(-50%);
	        transform: translateY(-50%);
	border: .8rem solid transparent;
	border-right-width: 1rem;
	border-right-color: #000;
	border-left-width: 0;
	width: 0;
	height: 0;
}
.prev::after, .next::after {
	content: '';
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%) translateZ(0);
	        transform: translateY(-50%) translateZ(0);
	left: .5rem;
	background: #000;
	height: .1rem;
	min-height: 1px;
	width: 2.5rem;
	-webkit-transition: width .3s;
	transition: width .3s;
}
.next::before {
	right: 0;
  left: auto;
	border-left-width: 1rem;
	border-left-color: #000;
	border-right-width: 0;
}
.next::after {
	right: .5rem;
	left: auto;
}

.counter {
	display: inline-flex;
    font-size: 2.0rem;
    font-family: serif;
    flex-direction: row-reverse;
}


.counter2 {
	/*display: inline-flex;*/
    font-size: 2.0rem;
    font-family: serif;
	margin-top: auto;
    flex-direction: row-reverse;
	visibility: hidden;
}

/*
.counter span:last-child::before {
	content: '/';
	margin: 0 1rem;
}
*/
.prev:hover::after, .next:hover::after {
	width: 3.5rem;
}

#sezam-loader .st0{
  fill:#fff;
}
#sezam-loader .st1{
  fill:#FFFFFF;
}

#sezam-loader .st0,
#sezam-loader .st1 {
  -webkit-animation: draw 2700ms ease-in-out infinite; /* Safari 4+ */
  -moz-animation:    draw 2700ms ease-in-out infinite; /* Fx 5+ */
  -o-animation:      draw 2700ms ease-in-out infinite; /* Opera 12+ */
  animation:         draw 2700ms ease-in-out infinite;
  stroke: #7dafe8;
}

@-webkit-keyframes draw {
  0% {
    stroke-dasharray: 0 800;
    stroke-dashoffset: 200;
    fill-opacity: 0;
    stroke-width: 4;
  }
  37% {
    stroke-dasharray: 600 0;
    stroke-dashoffset: 200;
    fill-opacity: 0;
    stroke-width: 4;
  }
  50% {
    fill-opacity: 1;
    stroke-width: 0;
  }
  100% {
    fill-opacity: 1;
    stroke-width: 0;
  }
}
@-moz-keyframes draw {
  0% {
    stroke-dasharray: 0 800;
    stroke-dashoffset: 200;
    fill-opacity: 0;
    stroke-width: 4;
  }
  37% {
    stroke-dasharray: 600 0;
    stroke-dashoffset: 200;
    fill-opacity: 0;
    stroke-width: 4;
  }
  50% {
    fill-opacity: 1;
    stroke-width: 0;
  }
  100% {
    fill-opacity: 1;
    stroke-width: 0;
  }
}
@-o-keyframes draw {
  0% {
    stroke-dasharray: 0 800;
    stroke-dashoffset: 200;
    fill-opacity: 0;
    stroke-width: 4;
  }
  37% {
    stroke-dasharray: 600 0;
    stroke-dashoffset: 200;
    fill-opacity: 0;
    stroke-width: 4;
  }
  50% {
    fill-opacity: 1;
    stroke-width: 0;
  }
  100% {
    fill-opacity: 1;
    stroke-width: 0;
  }
}
@keyframes draw {
  0% {
    stroke-dasharray: 0 800;
    stroke-dashoffset: 200;
    fill-opacity: 0;
    stroke-width: 4;
  }
  37% {
    stroke-dasharray: 600 0;
    stroke-dashoffset: 200;
    fill-opacity: 0;
    stroke-width: 4;
  }
  50% {
    fill-opacity: 1;
    stroke-width: 0;
  }
  100% {
    fill-opacity: 1;
    stroke-width: 0;
  }
}

#sezam-loader svg {max-width: 180px;margin-top: -20px;}


@media screen and ( max-width: 550px ) {
	.image { width: 100%; }
	.content { padding-right: 2rem; }
	nav { left: 0; right: auto; }
}

.title-box {transition:.6s;margin-bottom: auto;margin-top: 50px;width: 100%;display: inline-block;font-size: 1.2rem;text-transform: uppercase;color: #344277;font-weight: 900;letter-spacing: 1px;}
.title-box:hover {text-decoration:none;opacity:.6;transition:.6s;}

.h-29 {height:24rem;}

.counter span {color: #344277;font-weight: 500;font-family: 'Lato', sans-serif !important;font-size:3rem;}
.content a:hover {text-decoration:none;cursor:default;}
.content a {color: #344277;margin: 0;font-size: 2.4rem;font-weight: bold;letter-spacing: 5px;padding:0 !important;}
.content .flex-cont {display: flex;justify-content: flex-start;align-items: center;text-align: left;}

.content hr {width: 55px;margin-right: 10px;margin-left: 0;border-width: 3px;border-top: 3px solid #6c96ce;}
.content h2 {color: #7dafe8;font-weight: 800;letter-spacing: 5px;margin: 0 5px;}

.white {color:#fff !important;}
.white-span span {color:#fff !important;}

.back_home_box_01 {background:url(../images/C_box_home_01.jpg);background-size:cover;background-position:center;padding-bottom:50%;}
.back_home_box_02 {background:url(../images/C_box_home_02.jpg);background-size:cover;background-position:center;padding-bottom:50%;}

.back_about_box {background:url(../images/C_box_about.jpg);background-size:cover;background-position:center;padding-bottom:50%;}
.back_our_box {background:url(../images/Mapa_Background.jpg) #ededed;background-size:contain;background-position:center;padding-bottom:40%;background-repeat:no-repeat;}
.back_company_box {background:url(../images/C_box_company.jpg);background-size:cover;background-position:center;padding-bottom:50%;}

.back-foot {background: #151515;padding: 55px 0;}
.back-foot hr {margin: 0 0 10px;max-width: 35px;border-top: 2px solid #7dafe8;}
.back-foot h3 {color: #7dafe8;font-weight: 900;text-transform: uppercase;font-size: 0.8rem;letter-spacing: 2px;margin-bottom: 10px;}
.back-foot p {color: #fff;font-size: 0.8rem;line-height: 22px;font-weight: 100;}

.icon-flecha {position: absolute;z-index: 0;width: 100%;left: 0;right: 0;bottom: 2rem;text-align: center;}
.icon-flecha img {max-width: 58px;height: auto;width: 100%;}

.testionials {padding:100px 0;}
.testionials h3 {color: #7dafe8;font-weight: 400;letter-spacing: 2px;margin:0 0 65px;font-size: 1.8rem;}

.card-testi {border:1px #344277 solid;}
.card-testi .head {background:url(../images/C_box_about.jpg);background-size:cover;background-position:center;text-align:center;min-height:80px;}
.card-testi .head .perfil {max-width: 100px;border-radius: 100%;display: inline-flex;position: relative;transform: translate(0, 50%);border: 2px #344277 solid;padding: 0;align-items: center;justify-content: center;width: 150px;height: 100px;background-size: cover !important;}
.card-testi .head .perfil img {display: inline-block;border-radius: 50%;margin: -1px;}
.card-testi .body-testi {padding: 30px 25px 30px;text-align: center;min-height:375px;}
.card-testi .body-testi a {text-decoration:none;transition:.6s;display:block;color:#7dafe8;margin-top:5px;}
.card-testi .body-testi a:hover {opacity:.6;transition:.6s;}
.card-testi .body-testi h4 {letter-spacing: 1px;font-size: 14px;margin: 0;font-weight: 600;color:#7dafe8;}
.card-testi .body-testi p {text-align:left;font-size:13px;margin: 0;line-height: 15px;font-family: 'Lato', sans-serif !important;letter-spacing: 1px;color: #000;font-weight: 500;}
.card-testi .body-testi hr {width: 55px;margin-right: auto;margin-left: auto;border-width: 3px;border-top: 3px solid #6c96ce;display:block;margin-top: 15px;margin-bottom: 12px;}

.padd-left-custom {padding-left:45px;}

.down {
  -webkit-animation: downarrow 0.6s infinite alternate ease-in-out;
}

.down2 {
  -webkit-animation: downarrow 0.6s infinite alternate ease-in-out;
}

.down3 {
  -webkit-animation: downarrow 0.6s infinite alternate ease-in-out;
}

@-webkit-keyframes downarrow {
  0% { -webkit-transform: translateY(0); opacity: 0.4 }
  100% { -webkit-transform: translateY(0.4em); opacity: 0.9 }
}

.box-as-top { padding: 40px 0;background: #ededed;}
.box-as-top h4 {margin: 0px 0 40px;color: #344277;font-weight: 900;letter-spacing: 1px;font-size: 1.2rem;letter-spacing: 2px;}

.box-as-top h3 {color: #344277;margin: 0;font-size: 2.4rem;font-weight: 500;letter-spacing: 5px;}
.box-as-top .flex-cont {display: flex;justify-content: flex-start;align-items: center;text-align: left;}

.box-as-top hr {width: 55px;margin-right: 10px;margin-left: 0;border-width: 3px;border-top: 3px solid #7dafe8;}
.box-as-top h2 {color: #7dafe8;font-weight: 600;letter-spacing: 5px;margin: 0 5px;font-size: 1.9rem;}
.box-as-top p {color: #344277;font-size: 1.2rem;margin-top: -65px;font-weight: 300;line-height: 23px;}


.box-company-top { padding: 40px 0;background: #344277;}
.box-company-top h4 {margin: 0px 0 40px;color: #fff;font-weight: 900;letter-spacing: 1px;font-size: 1.2rem;letter-spacing: 2px;}

.box-company-top h3 {color: #fff;margin: 0;font-size: 2.4rem;font-weight: 500;letter-spacing: 5px;}
.box-company-top .flex-cont {display: flex;justify-content: flex-start;align-items: center;text-align: left;}

.box-company-top hr {width: 55px;margin-right: 10px;margin-left: 0;border-width: 3px;border-top: 3px solid #7dafe8;}
.box-company-top h2 {color: #7dafe8;font-weight: 600;letter-spacing: 5px;margin: 0 5px;font-size: 1.9rem;}
.box-company-top p {color: #fff;font-size: 1.2rem;margin-top: -35px;font-weight: 300;line-height: 23px;}

.box-about-r {padding:2rem 2rem  2rem 2rem;}
.box-about-r h3 {color: #fff;margin: 0;font-size: 2.4rem;font-weight: 500;letter-spacing: 5px;}
.box-about-r .flex-cont {display: flex;justify-content: flex-start;align-items: center;text-align: left;}

.box-about-r hr {width: 55px;margin-right: 10px;margin-left: 0;border-width: 3px;border-top: 3px solid #7dafe8;}
.box-about-r h2 {color: #7dafe8;font-weight: 400;letter-spacing: 2px;margin: 0 5px;font-size: 1.8rem;}

.box-about-r h4 {color: #fff;font-weight: 600;letter-spacing: 2px;font-size: 0.92rem;margin-bottom: 30px;}

.box-about-r p {color: #fff;font-size: 1.2rem;margin: 25px 0 0;line-height: 23px;font-family: 'Lato', sans-serif !important; font-weight:300;}


.box-our-r {padding:1rem 3rem  5rem 7rem;text-align: center;}
.box-our-r h3 {color: #fff;margin: 0;font-size: 2.4rem;font-weight: 500;letter-spacing: 5px;}
.box-our-r .flex-cont {display: flex;justify-content: flex-start;align-items: center;text-align: left;}

.box-our-r hr {width: 75px;margin-right: 10px;margin-left: 0;border-width: 3px;border-top: 3px solid #7dafe8;}
.box-our-r h2 {color: #7dafe8;font-weight: 400;letter-spacing: 2px;margin: 0 5px;font-size: 1.8rem;}

.box-our-r h4 {color: #fff;font-weight: 600;letter-spacing: 4px;font-size:1.1rem;margin-bottom: 30px;line-height: 20px;text-align:left;}

.box-our-r p {color: #fff;font-size: .8rem;margin: 0 0 2px;line-height: 20px;font-family: 'Lato', sans-serif !important;letter-spacing: 1px;}

.box-our-r p:hover{background-color:rgba(0,20,15,0.15); font-weight: bold;}
.box-our-r p strong {font-weight:800;}
.box-our-r .box-our {overflow-y: scroll;max-height: 450px;text-align: left;}

.box-our-r .box-our::-webkit-scrollbar {
    width: 10px;
}

.box-our-r .box-our::-webkit-scrollbar-track {
    border-radius: 0;
    background: #fff;
}


.box-our-r .box-our::-webkit-scrollbar-thumb {
    border-radius: 0;
    background: #7dafe8;
}

.box-about-contact {padding:4rem 4rem 4rem;}
.box-about-contact h3 {color: #fff;margin: 0;font-size: 2.4rem;font-weight: 500;letter-spacing: 5px;}
.box-about-contact .flex-cont {display: flex;justify-content: flex-start;align-items: flex-start;text-align: left;flex-wrap:wrap;flex-direction:column;}

.box-about-contact hr {width: 55px;margin-right: 10px;margin-left: 0;border-width: 3px;border-top: 3px solid #7dafe8;}
.box-about-contact h2 {color: #7dafe8;font-weight: 400;letter-spacing: 2px;margin: 0 5px;font-size: 1.8rem;}

.box-about-contact h4 {color: #fff;font-weight: 600;letter-spacing: 2px;font-size: 0.92rem;margin-bottom: 30px;}

.box-about-contact p {color: #344277;font-size: 14px;margin: 35px 0 0;line-height: 23px;font-family: 'Lato', sans-serif !important;font-weight: 400;letter-spacing: 1px;}
.box-about-contact p strong {font-weight: 900;font-size: 1rem;text-transform: uppercase;}
.box-about-contact p a {transition:.6s}
.box-about-contact p a:hover {opacity:.6;transition:.6s;text-decoration:none;}
.box-company-r {padding:2rem 2rem  2rem 2rem;}
.box-company-r h3 {color: #344277;margin: 0;font-size: 2.1rem;font-weight: 500;letter-spacing: 2px;}
.box-company-r .flex-cont {display: flex;justify-content: flex-start;align-items: center;text-align: left;}

.box-company-r hr {width: 55px;margin-right: 10px;margin-left: 0;border-width: 3px;border-top: 3px solid #7dafe8;}
.box-company-r h2 {color: #7dafe8;font-weight: 400;letter-spacing: 2px;margin: 0 5px;font-size: 1.8rem;}

.box-company-r h4 {color: #344277;font-weight: 900;letter-spacing: 2px;font-size: 1rem;margin-bottom: 30px;}

.box-company-r p {color: #344277;font-size: 1.2rem;margin: 35px 0 0;line-height: 23px;font-family: 'Lato', sans-serif !important; font-weight:300;}


.partners {background:#151515;padding:125px 0 0;}
.partners h3 {color: #fff;margin: 0;font-size: 2.1rem;font-weight: 500;letter-spacing: 2px;}
.partners .flex-cont {display: flex;justify-content: flex-start;align-items: center;text-align: left;}

.partners hr {width: 55px;margin-right: 10px;margin-left: 0;border-width: 3px;border-top: 3px solid #7dafe8;}
.partners h2 {color: #7dafe8;font-weight: 400;letter-spacing: 2px;margin: 0 5px;font-size: 1.8rem;}

.img-partners {max-width:100%;height:auto;width:100%;margin:40px 0 35px;}


.box-telephony-r {padding:1rem 3rem  2rem 7rem;}
.box-telephony-r h3 {color: #fff;margin: 0;font-size: 2.4rem;font-weight: 500;letter-spacing: 5px;}
.box-telephony-r .flex-cont {display: flex;justify-content: flex-start;align-items: center;text-align: left;}
.box-telephony-r hr {width: 55px;margin-right: 10px;margin-left: 0;border-width: 3px;border-top: 3px solid #7dafe8;}
.box-telephony-r h2 {color: #7dafe8;font-weight: 400;letter-spacing: 2px;margin: 0 5px;font-size: 1.8rem;}
.box-telephony-r h4 {color: #fff;font-weight: 600;letter-spacing: 2px;font-size: 0.92rem;margin-bottom: 30px;}
.box-telephony-r ul {margin-top:1px;}
.box-telephony-r ul li {color: #fff;font-size: 0.9rem;margin:0 0;line-height: 19px;font-family: 'Lato', sans-serif !important;transition:.6s;}
.box-telephony-r ul li:hover {color:#7dafe8;transition:.6s;cursor:pointer;background-color:rgba(0,20,15,0.15); font-weight: bold;}
.box-telephony-r h6 {display: inline-block;text-align: center;margin-top: 15px;color: #fff;font-weight: 600;font-size: 1.1rem;letter-spacing: 2px;transition:.6s;}
.box-telephony-r h6:hover {text-decoration:none;opacity:.6;transition:.6s;cursor:pointer;}
.box-telephony-r h6 i {display: block;margin-top: 7px;font-size: 1.2rem;}

.box-telephony-rexp {padding:1rem 1rem  1rem 6rem;}
.box-telephony-rexp h3 {color: #fff;margin: 0;font-size: 2.4rem;font-weight: 500;letter-spacing: 5px;}
.box-telephony-rexp .flex-cont {display: flex;justify-content: flex-start;align-items: center;text-align: left;}
.box-telephony-rexp hr {width: 55px;margin-right: 10px;margin-left: 0;border-width: 3px;border-top: 3px solid #7dafe8;}
.box-telephony-rexp h2 {color: #7dafe8;font-weight: 400;letter-spacing: 2px;margin: 0 0px;font-size: 1.8rem;}
.box-telephony-rexp h4 {color: #fff;font-weight: 600;letter-spacing: 2px;font-size: 0.92rem;margin-bottom: 30px;}
.box-telephony-rexp ul {margin-top:15px;}
.box-telephony-rexp ul li {color: #fff;font-size: 0.9rem;margin:0 0;line-height: 19px;font-family: 'Lato', sans-serif !important;transition:.6s;}
.box-telephony-rexp ul li:hover {color:#7dafe8;transition:.6s;cursor:pointer;}
.box-telephony-rexp h6 {display: inline-block;text-align: center;margin-top: 25px;color: #fff;font-weight: 600;font-size: 1.1rem;letter-spacing: 2px;transition:.6s;}
.box-telephony-rexp h6:hover {text-decoration:none;opacity:.6;transition:.6s;cursor:pointer;}
.box-telephony-rexp h6 i {display: block;margin-top: 7px;font-size: 1.2rem;}

.box-telephony-rexp-new {padding:2rem 0rem 0rem 0rem;}
.box-telephony-rexp-new h2 {color: #7dafe8;font-weight: 400;letter-spacing: 2px;margin: 0 0px;font-size: 1.5rem;}


.hidden-li {display:none;}
.visible-li {display:block !important;}

.hidden-li_2 {display:none;}
.visible-li {display:block !important;}

.hidden-button {display:none !important;}
.visible-button {display:block !important;}

.change-color ul li:hover {color:#475f95 !important;transition:.6s;cursor:pointer;}


/*
.cont-img2 {padding:15px;max-width:95%; align: center;}
.cont-img2 img {max-width:95%; align: center; margin-left:35px; vertical-align: middle; }
.img-01 {opacity:.6;transition:.6s; max-height:100px; margin-top:10%;}
*/

.img-01 {opacity:.6;transition:.6s; max-height:280px; max-width:550px; margin-top:5%; margin-left:15%; cursor:pointer; border-width:10px; border-style:solid; border-color:rgba(52,66,119,0.8); }
.img-more-01 {opacity:.6;transition:.6s;max-height:280px; max-width:550px; margin-top:5%; margin-left:15%;cursor:pointer; border-width:10px; border-style:solid; border-color:rgba(52,66,119,0.8);}

.img-01-exp {line-height:10px;}
.img-more-x01 {
	opacity:.8;
	transition:0s; 
	vertical-align:middle; 
	/*max-height:200px; */
	max-height:90%; 
	border-width:10px; 
	border-style:solid; 
	border-color:rgba(52,66,119,0.8); }
	
.cont-img1 {padding:15px;max-width:85%;position:relative;}
.cont-img1 img {max-width:100%;width:100%;}

.img-02-exp:hover .img-01 {display:none;}
.img-02 {opacity: 1;position: absolute;top: 0;left: 0;right: 0;bottom: 0;z-index: 1;}
.img-more-x02 {opacity:.7;transition:0s; align: center; vertical-align:middle; max-height:180px;max-width:350px; }


.cont-img {padding:15px;max-width:85%;position:relative;}
.cont-img img {max-width:100%;width:100%;}

.cont-img2 {width:100%; max-height:260px;
	/*max-height: 270px;*/
	/*max-width: 600px;*/
	width:100%;
	overflow: hidden;
	text-align: center;
	height: 100%;
	vertical-align: middle;
	align-content: center;
	}
.cont-img2 img {
	align: center; 
	vertical-align: middle; 
	/*max-height:270px; */
	padding-top:0px; 
}


.img-03 {opacity:.6;transition:.6s; max-height:150px; margin-top:7%; margin-left:20%;}

.cont-img3 {align: center; width:100%; height:100%;}
.cont-img3 img {align: center; vertical-align: middle;  }

.cont-img-top { 
	overflow:hidden; 
	width:400px; 
	height:180px; 
	vertical-align:middle; 
	background: rgba(0, 0, 0, 0.2509);
	vertical-align:middle;
	padding:8px;
	}
.cont-img-top img {vertical-align: middle; padding:5px;   }



.p-l {padding:2rem 5rem  2rem 7rem !important;}


.enlace a {color:#fff;transition:.6s;}
.enlace a:hover {opacity:.6;transition:.6s;text-decoration:none;}

.back-top {position: fixed;
/*    top: 50%;
    left: 50%;*/
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    /*-webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);*/
    background-size: cover;/* -webkit-transition: 1s opacity;*/
    /*transition: 1s opacity */background-position: center height: 280vh;
}


@media screen 
  and (min-device-width: 1100px) 
  and (max-device-width: 1300px)  {
  .info-absolute h3 {margin-top:10.9rem;}
  .mg-t-h {margin-top:9.5rem !important;}
}


@media screen and ( max-width: 768px )  {
  .padd-left-custom {padding-left:15px;}
	.navbar-toggler {margin-right:auto;position: relative;right: 0;top: 10px;}
	.navbar-light .navbar-toggler-icon { background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");}
	.navbar-brand {margin-left:auto;}
	.navbar .container {width:100%;}
	.navbar-collapse {width:100%;text-align:left;padding: 0 15px;}
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 767px) 
  and (orientation: landscape) { 

  	.back_company_box, .back_our_box, .back-top-contact, .back-top-au, .back_about_box, .back_home_box_02, .back_home_box_01, .back_about_box {height:auto !important;}
  	.content h2 {font-size: 0.7rem;letter-spacing: 1px;}
  	.content h3 {font-size:1.6rem;}
  	.counter span {font-size:3rem;}
  	.back-top-au .h100vh, .back-top-company, .back-top-our, .back-top-contact .h100vh, .back-top-telephony {height:100vh;}
  	.back-foot h3 {font-size: 0.6rem;}
  	.back-foot p {font-size: 0.6rem;}
  	.images-partners img {width:100%;}
  	.info-absolute h3 {margin-top: 75px !important;line-height: 60px;}
}


@media screen and ( max-width: 767px )  {

	.back-foot .logo {margin-bottom:25px;}

  /*.back-top {position:relative;height:275vh;-webkit-transform: translateX(-50%) translateY(0%);transform: translateX(-50%) translateY(0);}*/
	.navbar-toggler {margin-right:auto;position: relative;right: 0;top: 10px;}
	.navbar-light .navbar-toggler-icon { background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");}
	.navbar-brand {margin-left:auto;}
	.navbar .container {width:100%;}
	.navbar-collapse {width:100%;text-align:left;padding: 0 15px;}
	.navbar-light .navbar-nav .nav-link {margin:0;}
	.info-absolute {position:relative;top:0;width:100%;}
	.info-absolute p {margin-bottom:auto;}
  .h100vh {height:auto;}

	.iconsHome p {margin:5px 0 40px;}
	.box-about-r, .box-company-r, .box-our-r, .box-about-contact, .box-telephony-r, .p-l {padding: 30px !important;}
	.partners {padding:125px 25px;}
	.back-foot hr {margin:20px 0 10px;}
	.back-top-company, .back-top-our, .back-top-contact, .back-top-au, .back-top-telephony {position:relative!important;}
	.back-top-company .icon-flecha, .back-top-our .icon-flecha, .back-top-contact .icon-flecha, .back-top-au .icon-flecha {display:none;}

	.back-top-company h2, .back-top-our h2, .back-top-contact h2, .back-top-au h2,  .back-top-telephony h2 {font-size: 1.4rem;}
	.info-absolute h3 {font-size:2.1rem;margin-top: 155px;}

	.back_company_box, .back_our_box, .back-top-contact, .back-top-au, .back_about_box, .back_home_box_02, .back_home_box_01{height:auto;}


	.bg-faded {background:rgba(0, 0, 0, 0.8313725490196079);}
}

/* images popup */

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: absolute; /*fixed;  Stay in place */
    z-index: 1; /* Sit on top */
    /*padding-top: 170px; *//* Location of the box */
    left: 10%;
    top: 100px;
    width: 80%; /* Full width */
    height: 80%; /* Full height */
    overflow: hidden; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    /*background-color: rgba(0,0,0,0.85);  *//* Black w/ opacity */
	background: rgba(0,20,45,0.9);
	border-color: whitesmoke;
	border-width: 6px;
	border-style: solid;
	text-align: center;
	vertical-align: middle;
	
	

  
}

.banner-new {background: #151b31;padding: 80px 0;text-align: center;}
.banner-new h1 {color:#fff;text-transform: uppercase;font-size: 1.98rem;font-weight: bold;letter-spacing: 4px;line-height: 28px;margin-bottom: 15px;}
.banner-new p {color:#fff;font-size: 1.2rem;margin: 25px 0 0;line-height: 23px;font-family: 'Lato', sans-serif !important;font-weight: 300;}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 70%;
	border-width:5px; border-style:solid; border-color:rgba(100,100,100,0.9);
    max-width: 1000px;
	max-height:600px;
	margin-top:50px;
	
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 60%;
    max-width: 1000px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 100px;
}

/* Add Animation */
.modal-content, #caption {    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    /*top: 100px;*/
    right: 35px;
    color: white;
    font-size: 60px;
    font-weight: bold;
    transition: 0.3s;
	/*left:70rem;*/
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .info-absolute .mg-t-h p {margin-bottom: 35px !important;margin-top: 0 !important;} 
  .box-about-contact .flex-cont {margin-top:15px}
  .img-01, .img-more-01 {max-width:100%;margin:0;}
  .back-top-telephony {min-height:inherit;height:auto;padding:0 30px;}
  .back-top-telephony .h100vh {height:inherit;}
  .card-testi {margin-bottom:25px;}
	.navbar-nav {flex-direction:column;padding:0 30px;}
	.navbar-nav .nav-link {text-align:right;}
	.dropdown-menu {position:relative;width:100%;right:0;text-align:right;}
	.back-foot .text-center {text-align:left !important;}
  .modal-content {width: 100%;}
  .w-responsive-telpho {width:100% !important;}
  .cd-slider2, .cd-slider {width: 100% !important;margin-top: 0 !important;margin-left: 0 !important;overflow: hidden;position: relative !important;height: 475px;}
}
	
/* NEW STYLES ADDED BELOW THIS LINE SEPT 2020 */

.info-absolute .mlg {
    color: #fff;
    font-size: 2.4rem;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 5px;
margin-top: 8rem;
}
.cd-slider.sm-home-bl li {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	visibility: hidden;
	-webkit-transition: visibility 0s 1s;
	transition: visibility 0s 1s;
  will-change: visibility;
}
.content.sm-home-bl {
	text-overflow: ellipsis;
	overflow: hidden;
	-webkit-transform: translateY(-30%);
	        transform: translateY(-30%);
	opacity: 0;
	-webkit-transition: opacity .5s, -webkit-transform .5s;
	transition: opacity .5s, -webkit-transform .5s;
	transition: transform .5s, opacity .5s;
	transition: transform .5s, opacity .5s, -webkit-transform .5s;
  will-change: transform, opacity;
}
li.current .content.sm-home-bl {
	-webkit-transform: translateY(0);
	        transform: translateY(0);
	opacity: 1;
	-webkit-transition-delay: 1s;
	        transition-delay: 1s;
}
.sm-foot-bl  {
color: #7dafe8 !important;
font-weight: 900 !important;
text-transform: uppercase;
font-size: 0.8rem;
letter-spacing: 2px;
margin-bottom: 10px;
}

.copyright {padding-top:20px;text-align:center;}
.copyright p {text-align:center;}
.copyright a {color: #7dafe8;text-decoration:none;}


















