.setScroll {
	OVERFLOW-Y: scroll
}
.hideitem {
	DISPLAY: none
}
.elmValue {
	DISPLAY: none
}
.selectbox {
	PADDING-BOTTOM: 0px; MARGIN: 0px 0px 5px; PADDING-LEFT: 35px; PADDING-RIGHT: 0px; BACKGROUND: url(dropdown.png) no-repeat 0px 0px; FLOAT: left; PADDING-TOP: 0px
}
.selectbox UL {
	PADDING-BOTTOM: 6px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 22px; BACKGROUND: url(dropdown.png) no-repeat right top; VERTICAL-ALIGN: top; LIST-STYLE-IMAGE: none; PADDING-TOP: 8px
}
.select_wrap {
	BORDER-BOTTOM: #fff 1px solid; BORDER-LEFT: #fff 1px solid; MARGIN: 0px 5px 0px 0px; CLEAR: both; BORDER-TOP: #fff 1px solid; BORDER-RIGHT: #fff 1px solid
}
.selectboxopen {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 35px; PADDING-RIGHT: 0px; BACKGROUND: url(dropdownopen.png) no-repeat 0px 0px; FLOAT: left; CLEAR: both; PADDING-TOP: 0px
}
.selectboxopen UL {
	PADDING-BOTTOM: 6px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 22px; BACKGROUND: url(dropdownopen.png) no-repeat right top; HEIGHT: 19px; VERTICAL-ALIGN: top; LIST-STYLE-IMAGE: none; PADDING-TOP: 7px
}
.selectbox UL LI {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: arial, helvetica, san-serif; COLOR: #333; FONT-SIZE: 12px; CURSOR: pointer; LIST-STYLE-IMAGE: none; PADDING-TOP: 0px
}
.selectboxopen UL LI {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: arial, helvetica, san-serif; COLOR: #333; FONT-SIZE: 12px; CURSOR: pointer; LIST-STYLE-IMAGE: none; PADDING-TOP: 0px
}
.selectboxoptions_wrap {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; DISPLAY: none; CLEAR: both; PADDING-TOP: 0px
}
.selectboxoptions_radio {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: #e6e9ed; CLEAR: both; LIST-STYLE-IMAGE: none; PADDING-TOP: 0px
}
.selectboxoptions_check {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: #e6e9ed; CLEAR: both; LIST-STYLE-IMAGE: none; PADDING-TOP: 0px
}
.selectboxoptions_radio LI {
	PADDING-BOTTOM: 2px; LIST-STYLE-TYPE: none; MARGIN: 2px 0px 0px 2px; PADDING-LEFT: 20px; PADDING-RIGHT: 0px; FONT-FAMILY: arial, helvetica, san-serif; COLOR: #333; FONT-SIZE: 12px; CURSOR: pointer; LIST-STYLE-IMAGE: none; PADDING-TOP: 3px
}
.selectboxoptions_check LI {
	PADDING-BOTTOM: 2px; LIST-STYLE-TYPE: none; MARGIN: 2px 0px 0px 2px; PADDING-LEFT: 20px; PADDING-RIGHT: 0px; FONT-FAMILY: arial, helvetica, san-serif; COLOR: #333; FONT-SIZE: 12px; CURSOR: pointer; LIST-STYLE-IMAGE: none; PADDING-TOP: 3px
}
.hover {
	BACKGROUND-COLOR: #e6e9ed
}
.selectboxoptions_check LI {
	BACKGROUND: url(checkboxoff.png) #e6e9ed no-repeat 5px 6px
}
.selectboxoptions_radio LI {
	BACKGROUND: url(radiooff.png) #e6e9ed no-repeat 5px 6px
}
.selectboxoptions_radio LI.selected {
	DISPLAY: block !important; BACKGROUND: url(selectradio.png) #f2f2f2 no-repeat 5px 6px
}
.selectboxoptions_radio LI.selected_disable {
	DISPLAY: block !important; BACKGROUND: url(selectradio_disable.png) #f2f2f2 no-repeat 5px 6px
}
.selectboxoptions_check LI.selected {
	DISPLAY: block !important; BACKGROUND: url(selectcheck.png) #f2f2f2 no-repeat 5px 6px
}
.selectboxoptions_check LI.selected_disable {
	DISPLAY: block !important; BACKGROUND: url(selectcheck_disable.png) #f2f2f2 no-repeat 5px 6px
}
.selectboxoptions_radio LI.hover {
	BACKGROUND-COLOR: #f2f2f2
}
.selectboxoptions_check LI.hover {
	BACKGROUND-COLOR: #f2f2f2
}
.selectboxfoot {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 35px; PADDING-RIGHT: 0px; BACKGROUND: url(selectfoot.png) no-repeat 0px 0px; FLOAT: left; PADDING-TOP: 0px
}
.selectboxfoot DIV {
	PADDING-BOTTOM: 10px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 22px; BACKGROUND: url(selectfoot.png) no-repeat right top; PADDING-TOP: 7px
}
