/* GPL */



body, h2, pre, img, p, div, iframe, table#data {
  margin:0px;
  padding:0px;
  border:0px;
  border-spacing:0px;
}
ol {
  margin-top:0px;
  margin-bottom:0px;
}

form {
  margin:0px;
  border:0px;
}

img {
  vertical-align:middle;
}

body {
  background-color: #FFFFFF;
}

#default {
  color: #666666; font-family: Arial, Helvetica, Verdana, sans-serif;
  font-size: 12px; font-family: Arial, Helvetica, Verdana, sans-serif;
}

body,#default10 {
  color: #666666; font-family: Arial, Helvetica, Verdana, sans-serif;
  font-size: 13px; font-family: Arial, Helvetica, Verdana, sans-serif;
}

a {
  color: #0000FF;
  text-decoration:none;
  cursor: pointer;
}

a:hover {
  color: #0000FF;
  text-decoration:underline;
}

iframe {
  color: #0000FF; font-family: Arial, Helvetica, Verdana, sans-serif;
  border: 1px solid #AAAAAA;
  background-color: #F5F5F5;
}

.chat {
  width:100%;
  height:200px;
  overflow-x:auto;
  overflow-y:auto;
  overflow:auto;
  border: 1px solid #AAAAAA;
  background-color: #F5F5F5;
  color: #0000FF; font-family: Arial, Helvetica, Verdana, sans-serif;
}

input,select,textarea {
  color: #0000FF; font-family: Arial, Helvetica, Verdana, sans-serif;
  font-size: 11px; font-family: Arial, Helvetica, Verdana, sans-serif;
  border: 1px solid #AAAAAA;
  background-color: #F5F5F5;
}

input,button {
  vertical-align:middle;
}

#input, textarea, input[type="button"],input[type="submit"],input[type="text"],input[type="password"] {
  padding-left:5px;
  padding-right:5px;
  -moz-border-radius:10px;
}

.checkbox {
  border:0px;
  padding:0px;
  margin:0px;
  background-color:transparent;
  width:13px;
}

input[type="radio"] {
  border:0px;
}

#input:hover,textarea:hover,input[type="button"]:hover,input[type="text"]:hover,input[type="submit"]:hover,input[type="password"]:hover {
  border: 1px solid #000080;
}
#input:focus,textarea:focus,input[type="button"]:focus,input[type="text"]:focus,input[type="submit"]:focus,input[type="password"]:focus {
  border: 1px solid #FF0000;
}

.submit {
  color: #0000FF; font-family: Arial, Helvetica, Verdana, sans-serif;
  font-size: 11px; font-family: Arial, Helvetica, Verdana, sans-serif;
  background-color: #FFFFFF;
  border: 1px solid #AAAAAA;
  width:260px;
  cursor: pointer;
}

.submit {
  font-weight:bold;
}

div#content {
  position:absolute;
  left:20px;
  top:20px;
  padding-top:0px;
  padding-left:0px;
  padding-bottom:5px;
  vertical-align:top;
}

div#main {
  width:100%;
  text-align:center;
  position:relative;
  z-index:1;
}

#main2 {
  width:100%;
  padding-left:1px;
  padding-right:1px;
}

#main3 {
  width:100%;
}

table#data {
  color: #666666; font-family: Arial, Helvetica, Verdana, sans-serif;
  font-size: 13px; font-family: Arial, Helvetica, Verdana, sans-serif;
  border: 1px solid #666666;
  background-color: #F5F5F5;
  width:100%;
  margin-bottom:6px;
}

table#data td,table#data td#data {
  padding-left:5px;
  padding-right:5px;
  word-break:break-all;
  text-align:left;
}

table#data tr#fields td {
  color: #FFFFFF; font-family: Arial, Helvetica, Verdana, sans-serif;
  padding-top:0px;
  padding-bottom:0px;
  word-break:normal;
  background-color: #B6BDD2;
  cursor: pointer;
}

table#data tr#summary td {
  font-size: 11px; font-family: Arial, Helvetica, Verdana, sans-serif;
  border-top: 1px solid #666666;
}

table#data tr#summary2 td {
  font-size: 11px; font-family: Arial, Helvetica, Verdana, sans-serif;
  border-top: 1px solid #666666;
  padding-left:1px;
  padding-right:1px;
}

table#data td a#linktext {
  color: #666666; font-family: Arial, Helvetica, Verdana, sans-serif;
}

table#data tr#summary td a {
  font-size: 11px; font-family: Arial, Helvetica, Verdana, sans-serif;
}

table#data td#notification {
  background-color: #88CC88;
}

table#data td#item_groupby {
  border-bottom: 1px solid #AAAAAA;
  border-top: 1px solid #AAAAAA;
  font-weight:bold;
  padding-top:4px;
  padding-bottom:2px;
}

table#data td#item_groupby a {
  text-decoration:none;
  color: #666666; font-family: Arial, Helvetica, Verdana, sans-serif;
}

table#data td#item_orderby {
  font-weight:bold;
}
table#data td#item_notorderby {
  cursor: pointer;
}

table#data td#item_required {
  font-weight:bold;
}

table#data td#item_time {
  width:55px;
  height:55px;
  border-top: 1px solid #AAAAAA;
  border-right: 1px solid #AAAAAA;
  text-align:center;
  font-size: 12px; font-family: Arial, Helvetica, Verdana, sans-serif;
  cursor: pointer;
}

table#data td#item_week {
  width:55px;
  height:55px;
  text-align:center;
  border-top: 1px solid #AAAAAA;
  border-right: 1px solid #AAAAAA;
  font-size: 12px; font-family: Arial, Helvetica, Verdana, sans-serif;
  cursor: pointer;
}

table#data td.item_data {
  background-color: #FFFFFF;
  border: 1px solid #AAAAAA;
}

table#data td.item_data_spacer {
  border-top: 1px solid #AAAAAA;
  width:1px;
  padding:0px;
}

table#data tr.items_odd {
  background-color: #E5E5E5;
}

table#data tr.items_even td {
}
table#data tr.items_odd td {
}

table#data tr#id {
  font-weight: bold; color: #FFFFFF; font-family: Arial, Helvetica, Verdana, sans-serif;
  background-color: #B6BDD2;
  padding-top:2px;
  padding-bottom:2px;
}

table#data tr.id_header {
  font-weight: bold; color: #FFFFFF; font-family: Arial, Helvetica, Verdana, sans-serif;
  background-color: #B6BDD2;
}
table#data tr.id_header a {
  font-weight: bold; color: #FFFFFF; font-family: Arial, Helvetica, Verdana, sans-serif;
}

.tabstyle, .tabstyle2 {
  font-size: 13px; font-family: Arial, Helvetica, Verdana, sans-serif;
  border: 1px solid #666666;
  padding-right:10px;
  padding-left:12px;
  text-align:center;
  white-space:nowrap;
  -moz-border-radius: 12px 0px 0 0;
  cursor: pointer;
}

.tabstyle3 {
  font-size: 13px; font-family: Arial, Helvetica, Verdana, sans-serif;
  border: 1px solid #666666;
  background-color: #F5F5F5;
  text-align:center;
  padding-left:2px;
  padding-right:2px;
  cursor: pointer;
}

.tabstyle_empty {
  font-size: 13px; font-family: Arial, Helvetica, Verdana, sans-serif;
  border: 1px solid #666666;
  background-color: #F5F5F5;
}

.tabstyle {
  color: #666666; font-family: Arial, Helvetica, Verdana, sans-serif;
  background-color: #F5F5F5;
}

.tabstyle2 {
  font-weight: bold; color: #FFFFFF; font-family: Arial, Helvetica, Verdana, sans-serif;
  background-color: #B6BDD2;
}

#path_caption {
  font-size: 13px; font-family: Arial, Helvetica, Verdana, sans-serif;
}

#tree_caption {
  margin:1px;
  margin-bottom:3px;
  color: #666666; font-family: Arial, Helvetica, Verdana, sans-serif; font-weight: bold;
  font-size: 13px; font-family: Arial, Helvetica, Verdana, sans-serif;
}

#tree_views {
  width:100%;
  margin-bottom:2px;
}

#tree_frame {
  border: 1px solid #666666;
  width:100%;
  height:100%;
  padding:3px;
  text-align:left;
  -moz-border-radius:0 0 6px 6px;
}

#tree_data {
  color: #666666; font-family: Arial, Helvetica, Verdana, sans-serif;
  font-size: 13px; font-family: Arial, Helvetica, Verdana, sans-serif;
  border: 1px solid #666666;
  border-bottom:0px;
  background-color: #F5F5F5;
  width:100%;
  text-align:center;
}

table#tree_data tr#fields td {
  color: #FFFFFF; font-family: Arial, Helvetica, Verdana, sans-serif;
  background-color: #B6BDD2;
  cursor: pointer;
}

#tree {
  width:100%;
}

#tree2 {
  width:95%;
}

#tree_bar a {
  color: #666666; font-family: Arial, Helvetica, Verdana, sans-serif;
  font-size: 12px; font-family: Arial, Helvetica, Verdana, sans-serif;
  text-decoration:none;
}

#tree, #tree a, #tree2, #path_caption a {
  color: #666666; font-family: Arial, Helvetica, Verdana, sans-serif;
  font-size: 12px; font-family: Arial, Helvetica, Verdana, sans-serif;
  text-decoration:none;
}

#tree_menu {
  border-top: 1px solid #AAAAAA;
  text-align:center;
}

#tree_bar {
  width:100%;
  text-align:center;
  background-color: #F5F5F5;
  border: 1px solid #666666;
  border-top: 1px solid #AAAAAA;
  padding:2px;
  margin-bottom:2px;
}

#search_bar {
  border-bottom: 1px solid #AAAAAA;
  padding-top:3px;
  padding-bottom:5px;
  width:100%;
}

#search_button {
  margin-right:2px;
  margin-bottom:2px;
}

#tree_cpane {
  padding-bottom:3px;
  cursor: pointer;
}

.tree_panes {
  margin-top:5px;
  margin-left:10px;
  margin-bottom:5px;
}

#tree_subpane {
  font-weight: bold;
  margin-bottom:5px;
  border-bottom: 1px solid #AAAAAA;
}

#tree_def,#content_def {
  overflow-x:auto;
  overflow-y:auto;
  overflow:auto;
}

#login_reminder {
  display:none;
  background-color: #FFFFFF;
  top:35%;
  left:25%;
  right:25%;
  border: 1px solid #666666;
  z-index:99;
  position:absolute;
  font-size: 40px; font-family: Arial, Helvetica, Verdana, sans-serif;
}

#login {
  display:none;
  left:0px;
  right:0px;
  top:0px;
  bottom:0px;
  z-index:99;
  position:absolute;
  height:100%;
  background-color: #FFFFFF;
}

#htmledit {
  display:none;
  background-color: #FFFFFF;
  top:20%;
  width:530px;
  height:380px;
  z-index:99;
  position:absolute;
}

#spreadsheet {
  display:none;
  background-color: #FFFFFF;
  top:0;
  width:100%;
  height:100%;
  z-index:99;
  position:absolute;
}

#calendar {
  display:none;
  top:30%;
  width:180px;
  height:220px;
  z-index:99;
  position:absolute;
}
#calendar iframe {
  border:0px;
  background-color:transparent;
}

#view_item_spacer {
  width:2px;
}

#datebox_headline {
  font-weight:bold;
  text-align:center;
}

#datebox_headline_day {
  border-top: 1px solid #AAAAAA;
  border-right: 1px solid #AAAAAA;
  color: #666666; font-family: Arial, Helvetica, Verdana, sans-serif;
  font-size: 12px; font-family: Arial, Helvetica, Verdana, sans-serif;
  cursor: pointer;  
}
#datebox_head {
  text-decoration:underline;
  font-weight:bold;
  color: #FF0000;
}

#datebox_head_div, #datebox_head_div2, #datebox_head_div_disabled {
  width:17px;
  font-size: 12px; font-family: Arial, Helvetica, Verdana, sans-serif;
  text-align:center;
  font-weight:bold;
  cursor: pointer;  
}

#datebox_head_div {
  color: #FFFFFF; font-family: Arial, Helvetica, Verdana, sans-serif;
  background-color: #B6BDD2;
}

#datebox_head_div2 {
  border: 1px solid #AAAAAA;
}

#datebox_head_div_disabled {
  color: #DDDDDD;
}

.datebox_item {
  border: 1px solid #FF0000;
}

.datebox_item2 {
  border: 1px solid #AAAAAA;
}

.datebox_disabled {
  color: #DDDDDD; font-family: Arial, Helvetica, Verdana, sans-serif;
}

#datebox_row td {
  font-size: 12px; font-family: Arial, Helvetica, Verdana, sans-serif;
  border-top: 1px solid #FF0000;
  border-bottom: 1px solid #FF0000;
  cursor: pointer;  
}

#datebox_row2 td {
  font-size: 12px; font-family: Arial, Helvetica, Verdana, sans-serif;
  cursor: pointer;  
}

#datebox_week {
  cursor: pointer;
  color: #AAAAAA; font-family: Arial, Helvetica, Verdana, sans-serif;;
  border-right: 1px solid #AAAAAA;
}

#datebox_days {
  cursor: pointer;
  color: #AAAAAA; font-family: Arial, Helvetica, Verdana, sans-serif;;
  border-bottom: 1px solid #AAAAAA;
}

#sgs {
  position:absolute;
  z-index:99;
  cursor: pointer;
}

#notice {
  margin-top:5px;
  cursor: pointer;
  font-size: 9px; font-family: Arial, Helvetica, Verdana, sans-serif;
}

#notice2 {
  padding:2px;
  background-color: #FFFFFF;
  -moz-border-radius:5px;
  cursor: pointer;
  font-size: 9px; font-family: Arial, Helvetica, Verdana, sans-serif;
}

.menu {
  top:0px;
  left:0px;
  z-index:2;
  position:relative;
  margin-bottom:6px;
  color: #666666;
  background-color: #F5F5F5;
  border:1px solid #808080;
  font-size: 11px; line-height: 13px; letter-spacing: 1px; font-family: Arial, Helvetica, Verdana, sans-serif;
  cursor: pointer;
  -moz-border-radius:0 0 6px 0;
}
.submenu {
  top:25px;
  position:absolute;
  color: #666666;
  background-color: #F5F5F5;
  border:1px solid #808080;
  padding:2px;
  font-size: 10px; line-height: 12px; letter-spacing: 0.2px; font-family: Arial, Helvetica, Verdana, sans-serif;
  cursor: pointer;
  -moz-border-radius:0 0 6px 6px;
  z-index:2;
}
.menu td {
  height:20px;
  text-align:center;
  -moz-border-radius:3px 3px 3px 3px;
}
.submenu td {
  width:160px;
  -moz-border-radius:3px 3px 3px 3px;
}
.menu_item {
  border:1px solid #F5F5F5;
  height:20px;
}
.menu_item2 {
  height:20px;
  background-color: #B6BDD2;
  color: #FFFFFF;
  border: 1px solid #000080;
}

#cursor {
  cursor: pointer;
}

#icon {
  cursor: pointer;
  padding-left:2px;
  padding-right:2px;
}

#bg_full {
  position:absolute;
  left:0px;
  top:0px;
  width:100%;
  height:100%;
}

#console {
  position:absolute;
  display:none;
  width:250px;
  height:100px;
  z-index:10;
}