@font-face {
    font-family: 'FuturaBdCnBold';
    src: url('bold-webfont.eot');
    src: url('bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('bold-webfont.woff') format('woff'),
         url('bold-webfont.ttf') format('truetype'),
         url('bold-webfont.svg#FuturaBdCnBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'RondaloRegular';
    src: url('rondalo_0-webfont.eot');
    src: url('rondalo_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('rondalo_0-webfont.woff') format('woff'),
         url('rondalo_0-webfont.ttf') format('truetype'),
         url('rondalo_0-webfont.svg#RondaloRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	text-decoration: none;
	color: #000;
	background-color: #FFF;
	background-image: url(/css/fondo-interior.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	margin: 0px;
	padding: 0px;
	cursor: default;

}
h1 {
	font-family: 'RondaloRegular', Tahoma, Geneva, sans-serif;
	font-size: 36px;
	line-height: 122%;
	color: #FFF;
	margin: auto;
	font-weight: normal;
	padding-top: 8px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 11px;
}
h2 {
	font-family: 'RondaloRegular', Tahoma, Geneva, sans-serif;
	font-size: 24px;
	line-height: 111%;
	color: #8293A5;
	padding: 0px;
	font-weight: normal;
	margin-top: auto;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
}
h3 {
	font-family: 'RondaloRegular', Tahoma, Geneva, sans-serif;
	font-size: 18px;
	line-height: 111%;
	color: #95A3B3;
	padding: 0px;
	font-weight: normal;
	margin: 0px;
}



#header {
	font-family: 'FuturaBdCnBold', "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #000;
	text-decoration: none;
	background-image: url(/css/logo-aero.png);
	background-repeat: no-repeat;
	background-position: 22px center;
	height: 80px;
	width: 977px;
	cursor: default;
	margin-right: auto;
	margin-left: auto;
	text-align: right;
	clear: both;
}
#contenedortopinterior {
	font-family: 'FuturaBdCnBold', "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #000;
	text-decoration: none;
	background-image: url(/css/fondo-header-interno.png);
	background-repeat: no-repeat;
	background-position: center center;
	height: 209px;
	width: 1017px;
	cursor: default;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	clear: both;
}



#fondolinklstop 
{
	background-image: url(/css/fondolinkstop.png);
	background-repeat: no-repeat;
	height: 36px;
	width: 940px;
	text-align: right;
	margin-top: 1px;
	float: right;
	background-position: right;
}
#fondolinklstop a {
	font-family: 'RondaloRegular', "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #6699CC;
	text-decoration: none;
	line-height: 36px;
	margin-right: 15px;
	font-size: 17px;
	font-weight: normal;
}
#headersuperior {
	font-size: 18px;
	color: #000;
	text-decoration: none;
	cursor: default;
	line-height: 40px;
	margin-right: 0px;
}
#headersuperior a{
	color: #000;
	text-decoration: none;
	cursor: cursor;
}
#contenedortop {
	background-image: url(/css/fondo-video-portada.png);
	background-repeat: no-repeat;
	background-position: center top;
	height: 390px;
	width: 1021px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	clear: both;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	padding-top: 42px;
}
#contenedor {
	background-image: url(/css/fondo-area-contenido.png);
	background-repeat: no-repeat;
	background-position: center top;
	width: 980px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	clear: both;
	padding-top: 0px;
}
#footer {
	font-size: 13px;
	color: #000;
	background-image: url(/css/fondo-footer.png);
	background-repeat: no-repeat;
	background-position: left top;
	height: 117px;
	width: 998px;
	margin-right: auto;
	margin-left: auto;
	font-family: Arial, Helvetica, sans-serif;
	text-align: right;
	padding-top: 33px;
}
#footer a{
	font-family: 'RondaloRegular', "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 15px;
	color: #000;
	height: 117px;
	margin-right: 10px;
	font-family: Arial, Helvetica, sans-serif;
	text-align: right;
	padding-top: 33px;
	text-decoration: none;
}
#contenidostxt {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 13px;
	line-height: 22px;
	background-image: url(/css/fondo-area-contenido-textos.png);
	background-repeat: no-repeat;
	background-position: center top;
	width: 554px;
	padding-top: 22px;
	padding-right: 20px;
	padding-left: 20px;
}
#contenidostxtwide {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 13px;
	line-height: 22px;
	background-repeat: no-repeat;
	background-position: center top;
	width: 912px;
	padding-top: 22px;
	padding-right: 20px;
	padding-left: 20px;
	background-color: #FFF;
}

.semit1 {
	background-image: url(/css/semit-1.png);
	font-size: 13px;
	color: #333;
	cursor: default;
	line-height: 44px;
}
.semit2 {
	background-image: url(/css/semit-2.png);
	font-size: 13px;
	color: #FFF;
	cursor: default;
	line-height: 44px;
}
a {
	text-decoration: none;
}
li {
	line-height: 111%;
}
