BODY {
	BACKGROUND-COLOR: #efefef
}
A {
	COLOR: #27558e
}
A:link {
	COLOR: #27558e
}
A:visited {
	COLOR: #27558e
}
#page_wrapper {
	BORDER-BOTTOM: #999 2px dashed; POSITION: relative; BORDER-LEFT: #999 2px dashed; PADDING-BOTTOM: 60px; MARGIN: auto; PADDING-LEFT: 30px; WIDTH: 800px; PADDING-RIGHT: 30px; BACKGROUND: #fff; BORDER-TOP: #999 2px dashed; BORDER-RIGHT: #999 2px dashed; PADDING-TOP: 10px
}
.code {
	CLEAR: both
}
LABEL.lbl_header {
	BORDER-BOTTOM: #999 1px solid; BORDER-LEFT: #999 1px solid; PADDING-BOTTOM: 2px; MARGIN-TOP: 25px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; DISPLAY: block; BACKGROUND: #efefef; CLEAR: both; BORDER-TOP: #999 1px solid; FONT-WEIGHT: bold; BORDER-RIGHT: #999 1px solid; PADDING-TOP: 2px
}
H2 DIV {
	FONT-FAMILY: arial, helvetica, san-serif; COLOR: #999; FONT-SIZE: 12px
}
.html {
	COLOR: #999
}
