.chromestyle{
	width: 777px;
	background: url(/imagenes/barra-enlace-home.gif) no-repeat left top;
	font: normal 9px "Trebuchet MS", Tahoma, Arial;
	color: #000000;
	height: 66px;
	margin: 0px;
}

.chromestyle:after{ /*Add margin between menu and rest of content in Firefox*/
content: "."; 
display: block; 
height: 0; 
clear: both; 
visibility: hidden;
}

.chromestyle ul{
	width: 100%;
	text-align: left;
	margin-right: 9px;
	vertical-align: middle;
	margin-top: 1px;
	line-height: 30px;
}

.chromestyle ul li{
display: inline;
}

.chromestyle ul li a{
	color: #FFFFFF;
	padding: 4px 16px 4px 11px;
	margin: 0;
	text-decoration: none;
	border-right: 1px solid #0099FF;
	font: normal 11px "Trebuchet MS", Tahoma, Arial;
}

.chromestyle ul li a:hover{
}

.chromestyle ul li a[rel]:after{ /*HTML to indicate drop down link*/
content: " v";
/*content: " " url(downimage.gif); /*uncomment this line to use an image instead*/
}


/* ######### Style for Drop Down Menu ######### */

.dropmenudiv{
	font:normal 12px/16px "Trebuchet MS", Tahoma, Arial;
	z-index:11;
	width: 190px;










filter: progid:DXImageTransform.Microsoft.Shadow(color=#CACACA,direction=135,strength=4);
	border-top: 1px solid #00CCFF;
	border-right: 1px solid #00CCFF;
	border-bottom: 1px solid #F9F5EE;
	border-left: 1px solid #00CCFF;
	visibility: hidden;
	background: white url(/imagenes/fondo-menu.gif) repeat-x left top;
	position: absolute;
	margin-top: 0px;
}


.dropmenudiv a{
	width: 100%;
	display: block;
	text-indent: 5px; /*THEME CHANGE HERE*/
	padding: 2px 0;
	text-decoration: none;
	color: #333333;
	font: normal 12px "Trebuchet MS", Tahoma, Arial;
	border-bottom: 1px inset #00B4E3;
}

.dropmenudiv a:hover{ /*THEME CHANGE HERE*/
	background: #F9F5EE;
}
