<style type="text/css">
.arrowlistmenu{
width: 500px; /*width of accordion menu*/
}

.arrowlistmenu .menuheader{ /*CSS class for menu headers in general (expanding or not!)*/
	color: #006699; /*header text is indented 10px*/
	cursor: pointer;
	cursor: pointer;
	margin: 4px 0px 5px;
	font-size: 15px;
	font-weight: bold;
	font-family: "Trebuchet MS", Tahoma, verdana;
	/*background-color: #EEEEEE;*/
	border-bottom-style: inset;
	border-bottom-width: 1px;
	padding-top: 0px;
	padding-right: 1px;
	padding-bottom: 0px;
	padding-left: 5px;
	letter-spacing: -0.1em;
	word-spacing: 0em;
	border-bottom-color: #F5F5F5;
}
a {
	text-decoration: none;
}

.arrowlistmenu .openheader{ /*CSS class to apply to expandable header when it's expanded*/
	/*background-color: #EEEEEE;*/
	font-weight: bold;
}

.arrowlistmenu ul{ /*CSS for UL of each sub menu*/
list-style-type: none;
margin: 0;
padding: 0; /*bottom spacing between each UL and rest of content*/
}

.arrowlistmenu ul li{
	padding-bottom: 2px;
	display: block;
	padding-left: 24px;
}
acord li{
	color: #CC0000;
}

.arrowlistmenu ul li a{
	color: #003366; /*custom bullet list image*/
	display: block;
	padding-left: 5px; /*link text is indented 19px*/
	text-decoration: none;
	font-weight: normal;
	font-size: 11px;
	padding-top: 1px;
	padding-right: 5px;
	/*padding-bottom: 1px;*/
	font-family: Arial, Helvetica, sans-serif;
	background-color: #CCCC66;
	cursor: default;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000099;
}

.arrowlistmenu ul li a:visited{
color: #000000;
}

.arrowlistmenu ul li a:hover{ /*hover state CSS*/
color: #000000;
background-color: #996600;
}
body {
	background-color: #ECEDEF;
}
</style>
