<link rel="stylesheet" type="text/css" href="../includes/chrometheme/chromestyle4.css" />
<script type="text/javascript" src="../includes/chromejs/chrome.js">
</script>


<table width="777" height="60" border="0" cellpadding="0" cellspacing="0"  class="chromestyle" id="chromemenu">
  <tr>
    <td height="29"><ul>
<li><a href="../a1/home.asp">Home</a></li>
<li><a href="#" rel="dropmenu1">Soluciones</a></li>
<li><a href="#" rel="dropmenu2">Productos</a></li>
<li><a href="../a1/cyneric-online-consultation.asp" target="_self">Asesor en l&iacute;nea</a></li>
<li><a href="../a1/contact-cyneric.asp">Contacto</a></li>
    <li><a href="http://upgrade.cyneric.com" target="_top">Zona privada de clientes</a></li>
    </ul></td>
  </tr>
  <tr>
    <td valign="middle" class="textoschicosnegro">&nbsp;&nbsp;El socio ideal para su Red y Facturaci&oacute;n VoIP</td>
  </tr>
</table>
<!--1st drop down menu -->
<div id="dropmenu1" class="dropmenudiv">
<a href="http://www.dynamicdrive.com/">Facturaci&oacute;n de Telefon&iacute;a VoIP </a>
<a href="http://www.cssdrive.com">Calidad de Redes VoIP </a></div>


<!--2nd drop down menu -->                                                
<div id="dropmenu2" class="dropmenudiv" style="width: 150px;">
<a href="http://www.cnn.com/">Cyner CDR </a>
<a href="http://www.msnbc.com">Cyner User Admin </a>
<a href="http://news.bbc.co.uk">Cyner RAM </a>
<a href="http://news.bbc.co.uk">Cyner ROUTE </a>
<a href="http://news.bbc.co.uk">Cyner CR2 </a>
<a href="http://news.bbc.co.uk">Check My Cisco </a>
<a href="http://news.bbc.co.uk"></a></div>


<script type="text/javascript">

cssdropdown.startchrome("chromemenu")

</script>
