body {
	font: 11px Tahoma, Arial;
	color: #FFFFFF;
	text-decoration: none;
	cursor: default;
	background: #F0F0F0 url(../imagenes/fondo-general.jpg) repeat left top;
	margin: 0px;
	overflow: auto;
	padding: 0px;
	text-align: center;
}
.botones {
	background-image: url(/imagenes/b-enviar.gif);
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #E0E0E0;
	height: 32px;
	width: 113px;
	color: #E6E6E6;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}

.links_menusup {
	font: 11px Arial, Helvetica, sans-serif;
	color: #006699;
	text-decoration: none;
	margin-right: 3px;
	margin-left: 3px;
}
.bodyancho {
	width: 777px;
}
h1 {
	margin: 2px 0px 5px;
	color: #003366;
	text-decoration: none;
	cursor: default;
	word-spacing: 0pt;
	padding: 0px;
	font-family: "trebuchet MS", Tahoma, verdana;
	font-size: 14px;
	line-height: 15px;
	font-weight: bold;
	text-transform: capitalize;
}
p {
	margin: 0px 0px 5px;
	padding: 0px;
	font-size: 11px;
	text-decoration: none;
}

#menuhome a {
	text-decoration: none;
	color: #003366;
}


.ventral {
	background: #E0E0E0 url(../imagenes/fondo-ventral.jpg) repeat-x;
	font: 11px Tahoma, Arial;
	color: #333333;
	width: 777px;
}
.textoschicosnegro {
	color: #000000;
	font: normal 11px Arial, Helvetica, sans-serif;
	cursor: default;
}
.linksmenublancos {
	color: #FFFFFF;
	font: 11px Arial, Helvetica, sans-serif;
	text-decoration: none;
	word-spacing: 1px;
	margin-top: 20px;
}
h2 {

	margin: 2px;
	font: lighter 18px "trebuchet MS", Tahoma, verdana;
	color: #003366;
	text-decoration: none;
	cursor: default;
}

ul {
	padding: 2px 2px 2px 1px;
	margin: 0px;
}

.glowtext{
filter:glow(color=666666,strength=3);
color:#FFFFFF 
width:100%;
}
#tablaretail li {
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 3px;
	list-style-position: inside;
	list-style-type: disc;
}
#menuhome a:hover {
	text-decoration: none;
	color: #003366;
	border-bottom: 1px dashed #33FFFF;
	border-top: 1px dotted #FFFFFF;
}
button {
	border-width: 0px;
	border-style: none;
}

input {
	border-width: 1px;
	border-style: inset;
}
textarea {
	border-width: 1px;
	border-style: inset;
	overflow: auto;
}
select {

	border-width: 1px;
	border-style: inset;
}
#divfrase a {
	text-decoration: none;
	cursor: default;
}
#menusero a:hover {
	text-decoration: none;
	border-bottom: 2px dotted #0099CC;
}
#soluciones {
	height:119px;
	z-index:1;
	border: 1px solid #00B4E3;
	background: url(../imagenes/fondo-menu.gif) repeat-x left top;
	padding: 7px;
	text-align: left;
	vertical-align: top;
	width: 190px;
	overflow: hidden;
	left: 133px;
	position: absolute;
	top: -15;
}
h3 {
	margin: 2px 0px 5px;
	color: #333333;
	text-decoration: none;
	cursor: default;
	letter-spacing: 0.02pc;
	padding: 0px;
	font-family: "trebuchet MS", Tahoma, verdana;
	font-size: 14px;
	line-height: 15px;
	font-weight: bold;
}
td {
	font-size: 11px;
}
.acor1 {
	font-size: 14px;
	font-weight: bold;
	color: #0066CC;
	text-decoration: none;
}
.acor2 {
	font-size: 11px;
	font-weight: normal;
	color: #333333;
	text-decoration: none;
	font-family: Tahoma, "trebuchet MS";
}
hr {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: inset;
}
.h1naranja {
margin: 2px 0px 5px;
	font: bold 15px/15px "trebuchet MS", Tahoma, verdana;
	color: #E97501;
	text-decoration: none;
	cursor: default;
	letter-spacing: -0.1em;
	word-spacing: 0pt;
	padding: 0px;


}
