.chromestyle{
	width: 777px;
	font-weight: bold;
	background: url(../../imagenes/barra-enlace-home.gif) no-repeat left top;
	height: 66px;
	text-align: left;
	padding-top: 6px;
}

.chromestyle:after{ /*Add margin between menu and rest of content in Firefox*/
content: "."; 
display: block; 
height: 0; 
clear: both; 
visibility: hidden;
}

.chromestyle ul{
	width: 100%;
	margin: 0;
	text-align: left;
	padding: 0px;
	height: 39px;
}

.chromestyle ul li{
display: inline;
}

.chromestyle ul li a{
	color: #FFFFFF;
	padding: 0px 7px;
	margin: 0;
	text-decoration: none;
	border-right: 1px solid #00CCFF; /*THEME CHANGE HERE*/
	font: normal 12px "Trebuchet MS", Tahoma, Arial;
	height: 38px;
}

.chromestyle ul li a:hover{
}

.chromestyle ul li a[rel]:after{ /*HTML to indicate drop down link*/
content: " v";
/*content: " " url(downimage.gif); /*uncomment this line to use an image instead*/
}


/* ######### Style for Drop Down Menu ######### */

.dropmenudiv{
	position:absolute;
	top: 0px;
	font:normal 12px/18px "Trebuchet MS", Tahoma, Arial;
	z-index:100;
	width: 200px;

























filter: progid:DXImageTransform.Microsoft.Shadow(color=#CACACA,direction=135,strength=4); /*Add Shadow in IE. Remove if desired*/
	background: #D4D0C8 url(/imagenes/fondo-menu.gif) repeat-x;
	color: #000000;
	text-decoration: none;
	border-top: 0px none #00789E;
	border-right: 1px solid #FFFFFF;
	border-bottom: 0 solid #FFFFFF;
	border-left: 1px solid #FFFFFF;
	padding: 0px;
	margin: 7px 0px 0px;
	visibility: hidden;
}


.dropmenudiv a{
	width: 100%;
	display: block;
	text-indent: 5px; /*THEME CHANGE HERE*/
	padding: 2px 0px 5px;
	text-decoration: none;
	font-weight: normal;
	color: black;
	border-bottom: 1px inset #3399CC;
}

.dropmenudiv a:hover{ /*THEME CHANGE HERE*/
	background: #F9F5EE;
}
